nav{
    width:100% ;
    background-color:whitesmoke ;
    align-items:baseline ;
    justify-content: space-around;
    display:flex;
    color: gray;
}
li{text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    background-color:whitesmoke;
}
a:active{
    color:blue;
}

a{text-decoration:none;
    color: gray;
}
ul li{
    list-style-type: none;
}
ul{display: flex;
    width: 70%;

}

.burbujitas {
    width: 100px; /* Tamaño del círculo */
    height: 100px; /* Tamaño del círculo */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
    display: flex; /* Centra la imagen si es necesario */
    justify-content: center;
    align-items: center;
    border: 2px solid #000; /* Opcional: borde del círculo */
  }

  .burbujitas img {
    width: 100%; /* Ajusta la imagen al círculo */
    height: 100%; /* Asegura que se cubra completamente el círculo */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionarse */
  }